<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smtown.example.kotlindemo.repository.MemberMapper">
    <select id="getAllMemberList" resultType="Member">
        SELECT
          `m_id`, `id`, `name`, `email`, `status`
        FROM `member`
        ORDER BY `m_id` DESC
    </select>

    <delete id="deleteMembers" parameterType="list" >
        DELETE
        FROM `member`
        <where>
            `m_id` = 0
            <if test = "list != null">
                OR
                <foreach collection="list" item="memberId" separator="or">
                    `m_id` = #{memberId}
                </foreach>
            </if>
        </where>
    </delete>

</mapper>